{% extends "index.html.twig" %}

{% block bootstrap_css %}
    {{ parent() }}
    <!-- tab_master.css.twig - /assets/css/tab/tab_master.css.twig -->
    <!-- {{ tab_form.id }}.css.twig - /assets/css/tab/{{ tab_form.id }}.css.twig -->
<style type="text/css">
    {# The factor fromt mm of the sheet to resize the form #}
    {% set factor = 3 %}
    {% set sheet_font_size = 16 %}
    {# Include Master css for Tabs #}
    {% include '/assets/css/tab/tab_master.css.twig' %}
    {# Include special CSS for different Tabs or Labels #}
    {% include '/assets/css/tab/'~tab_form.id~'.css.twig' %}
    </style>
{% endblock %}



{% block tab_form %}
    <form action="" method="post" name="form" id="form_{{ tab_form.id }}">
        <fieldset class="mb-3">
            <legend>Seitenränder Einstellung Drucker</legend>
                <div class="row">
                    <div class="col-3">
                        <label id="output_offset_left" for="offset_left">0 mm Rand von links</label>
                        <br/>
                        <input oninput="getOffsetLeft(this.value)"
                               value="0"
                               type="range"
                               min="-5"
                               max="5"
                               id="offset_left"
                               name="offset_left" >
                    </div>
                <div class="col-3">
                    <label id="output_offset_top" for="offset_top">0 mm Rand von oben</label>
                    <br/>
                    <input oninput="getOffsetTop(this.value)"
                           value="0"
                           type="range"
                           min="-5"
                           max="5"
                           id="offset_top"
                           name="offset_top">
                </div>
                    <div class="col-4">
                        <button id="pdf_download_1" type="button" class="btn btn-warning btn-block btn-sm" onclick="getAllImgUri()">
                            Fertig? <br/> Zum Download!
                        </button>
                    </div>
            </div>
        </fieldset>

                <div id="sheet" class="sheet">
                    {# For Loading and creating the PDF#}
                    <div id="overlay"></div>
                <div id="loading"></div>
                    {# Tab #}
                    {% set i = 0 %}
                    {# Row #}
                    {% for r in range(1,tab_form.AmountOfRows) %}
                        <div class="tab_row" id="tab_row_{{ r }}">
                            {# Column #}
                            {% for c in range(1, tab_form.AmountOfColumns) %}
                                {% set i = i + 1 %}
                                <div class="tab_column">
                                    <div id="tab_field_{{ i }}" class="tab_field {{ tab_form.id }} {% if (i is odd)  %}odd{% else %}even{% endif %}">
                                        <textarea name="editor[]" id="editor_{{ i }}" class="editor border">{% if fields_array %}{{ fields_array.editor[i-1] }}{% endif %}
                                        </textarea>
                                        <input name="blob[]" type="hidden" id="blob_{{ i }}">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {%  endfor %}

                </div>

            <div class="row">

                <div class="col-12">
                    <button id="pdf_download_2" type="button" class="btn btn-warning btn-block btn-sm" onclick="getAllImgUri()">
                        Fertig? Zum Download!
                    </button>
                </div>
            </div>

    </form>
{% endblock %}


{% block js %}
    {{ parent() }}
    <script src="node_modules/html2canvas/dist/html2canvas.js"></script>
    <script src="node_modules/progressbar.js/dist/progressbar.min.js"></script>
    <script>{% include '/assets/js/master.js.twig'%}</script>
{% endblock %}

